{# home.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block body %}
<h1>Welcome, {{app.user.username}} ! </h1>

    <div class="text-center">
        <div >
            <a href="/users/index" class="btn btn-primary btn-lg">Gérer les utilisateurs</a>
        </div>
        <div >
            <a href="/tiers/index" class="btn btn-primary btn-lg">Gérer les tiers</a>
        </div>
    </div>



{% endblock %}