{# profiles/addForm.html.twig #}


{% extends 'base.html.twig' %}

{% block title %}Ajouter profil{% endblock %}




{% block body %}

    <a href="/profiles/index">Go back to profiles's list</a>

    <div id="newProfile">

        <h1>Nom du profile</h1>
        <input type="text" id="profileName" placeholder="Nom du profil">
        <ul id="rolesList" class="list-group">

        </ul>
        <button class="btn btn-primary mt-3" id="addProfileBtn" onclick="addProfile()">Ajouter profil/button>
    </div>

{% endblock %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const rolesList = document.getElementById('rolesList');
        getRolesByGroup(rolesList);
        console.log(rolesList);
    });
</script>
{% endblock %}




