
{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}


{% block onload %} onload="getUsers()" {% endblock %}

{% block body %}


    <div class="container">
        <div class="text-center">
            <h1>Utilisateurs</h1>
        </div>
        

        <input type="text" id="searchId" class="form-control search-box" placeholder="Rechercher par id"><br> ou <br>  <input type="text" id="searchOther" class="form-control search-box" placeholder="par les autres "> <br>
        <div class="d-flex justify-content-between">
    <a href="/profiles/index" class="btn btn-success">Gérer les profils</a>
    <a href="add" class="btn btn-primary"> <span class="material-symbols-outlined">
add
</span>Nouvel utilisateur</a>
</div> <br>
        <table class="table table-striped table-bordered">
            <tr>
                <th>ID</th>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>Profile</th>
                <th>Actions</th>
            </tr>
            <tbody id="usersTable">

            </tbody>
        </table>



        <!-- Modal -->
        
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Modifier utilisateur</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="editFormContent">
                            <!-- Hidden input for user ID -->
                            <input type="hidden" id="userId">

                            <!-- Username input -->
                            <div class="mb-3">
                                <label for="username" class="form-label">Nom d'utilisateur  : </label>
                                <input type="text" class="form-control" id="username">
                            </div>

                            <!-- Email input -->
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email">
                            </div>

                            <!-- Address input -->
                            <div class="mb-3">
                                <label for="address" class="form-label">Adresse</label>
                                <input type="text" class="form-control" id="address">
                            </div>

                            <!-- Phone input -->
                            <div class="mb-3">
                                <label for="phone" class="form-label">Telephone</label>
                                <input type="text" class="form-control" id="phone">
                            </div>


                            <div class="mb-3">
                                <label for="password" class="form-label">Nouveau mot de passe: </label>
                                <input type="password" class="form-control" id="password" placeholder="">
                                (Ne pas toucher si vous ne voulez pas changer)
                            </div>

                            <div class="mb-3">
                                <label for="profileSelect" class="form-label">Profile: </label>
                                <select name="profile" id="profileSelect">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="edit()">Modifier</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}


{% block jss %}
    <script>
         $(document).ready(function() {
             $("#searchId").on("keyup", function() {
                 var value = $(this).val().toLowerCase();
                 $("#usersTable tr").filter(function() {
                     $(this).toggle($(this).find("td:first").text().toLowerCase().indexOf(value) > -1)
                 });
             });
         });

         $(document).ready(function() {
            $("#searchOther").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#usersTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

     </script>
{% endblock %}